<div class="panel">
  <h3>Specify Shopify Product Links</h3>
  <div class="panel_contents">
    <p>Exporting reviews for "<%= Product.find(product_id).name %>"</p>
    <p>Shopify Product info below:</p>
    <form action="<%= csv_export_judgeme_admin_products_path %>" method="POST">
      <input type="hidden" name="product_id" value="<%= product_id %>"/>
      <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
      <div id="shopify-products-section">
      </div>
      <br/>
      <div>
        <button id="add-shopify-product">Add another Shopify product</button>
        <button id="remove-shopify-product">Remove the Last Shopify product</button>
        <br/><br/><br/>
      </div>
      <div>
        <input type="submit" value="Export CSV"/>
      </div>
    </form>
  </div>
</div>

<script type="text/javascript">
var currentCount = 0;
$(document).ready(function() {
  var addButton = $('#add-shopify-product');
  var removeButton = $('#remove-shopify-product');
  addShopifyProduct();
  addButton.click(function(e) {
    e.preventDefault();
    addShopifyProduct();
    return false;
  });
  removeButton.click(function(e) {
    e.preventDefault();
    removeShopifyProduct();
    return false;
  });
});

function removeShopifyProduct() {
  if (currentCount === 0) return;
  var mainSection = $('#shopify-products-section');
  mainSection.children().last().remove();
  currentCount--;
}

function addShopifyProduct() {
  var mainSection = $('#shopify-products-section');
  var nextSection = $.parseHTML(
    '<div class="shopify-product-single-section">' +
      '<label>Shopify Product #' + currentCount + ' ID:</label><br/>' +
      '<input type="text" name="shopify_links[' + currentCount + '][\'product_id\']"/><br/>' +
      '<label>Shopify Product #' + currentCount + ' URL Handle:</label><br/>' +
      '<input type="text" name="shopify_links[' + currentCount + '][\'product_handle\']"/><br/>' +
    '</div>');
  currentCount++;
  mainSection.append(nextSection);
}
</script>