<section>
  <%= semantic_form_for :products, url: admin_new_product_mega_form_commit_path do |f| %>
    <div class="form-group">
      <input type="radio" id="productChoiceExisting" name="product_type" value="old" checked/>
      <label for="productChoiceExisting">Existing product</label>
      <br/>
      <input type="radio" id="productChoiceNew" name="product_type" value="new"/>
      <label for="productChoiceNew">New product</label>
    </div><br/>
    <%= f.inputs 'Existing Product', class: 'inputs existing-product-section' do %>
      <%= f.input :product, as: :string, input_html: { placeholder: 'Enter the name of the product', class: 'autocomplete', name: :product_search_details, value: '', data: { url: autocomplete_admin_products_path, hidden: 'product_id' } } %>
      <%= f.input :product_id, as: :hidden, input_html: { id: :product_id, value: '', name: :product_id } %>
    <% end %>
    <%= f.inputs 'New Product', class: 'inputs new-product-section' do %>
      <%= f.input :name, as: :string, input_html: { name: :new_product_name } %>
      <%= f.input :code, as: :string, input_html: { name: :new_product_code } %>
      <%= f.input :category, as: :select, collection: ProductCategory.all, input_html: { name: :new_product_category } %>
      <%= f.input :image_url, as: :string, input_html: { name: :new_product_image_url } %>
    <% end %>
    <div class="form-group">
      <input type="radio" id="supplierChoiceExisting" name="supplier_type" value="old" checked/>
      <label for="supplierChoiceExisting">Existing supplier</label>
      <br/>
      <input type="radio" id="supplierChoiceNew" name="supplier_type" value="new"/>
      <label for="supplierChoiceNew">New supplier</label>
    </div><br/>
    <%= f.inputs 'New Supplier', class: 'inputs new-supplier-section' do %>
      <h2>Create a New Supplier</h2>
      <%= f.input :supplier_name, as: :string, input_html: { name: :new_supplier_name } %>
      <%= f.input :source, as: :select, collection: SupplierSource.all, input_html: { name: :new_supplier_source } %>
      <%= f.input :location, as: :select, collection: Location.all, input_html: { name: :new_supplier_location } %>
      <%= f.input :profile_url, as: :string, input_html: { name: :new_supplier_profile_url } %>
    <% end %>
    <%= f.inputs 'Existing supplier', class: 'inputs existing-supplier-section' do %>
      <h2>Find an Existing Supplier</h2>
      <%= f.input :supplier, as: :string, input_html: { placeholder: 'Enter the name of the supplier', class: 'autocomplete', name: :supplier_search_details, value: '', data: { url: autocomplete_admin_suppliers_path, hidden: 'supplier_id' } } %>
      <%= f.input :supplier_id, as: :hidden, input_html: { id: :supplier_id, value: '', name: :supplier_id } %>
      <br/>
    <% end %>

    <%= f.inputs 'New supplier product', class: 'inputs new-supplier-product-section' do %>
      <%= f.input :supplier_product_name, as: :string, input_html: { value: '', name: :supplier_product_name } %>
      <%= f.input :supplier_product_image_url, as: :string, input_html: { value: '', name: :supplier_product_image_url } %>
      <%= f.input :supplier_product_reference_url, as: :string, input_html: { value: '', name: :supplier_product_reference_url } %>
      <br/>
    <% end %>
    <input type="submit" class="btn btn-submit" value="Submit"/>
  <% end %>
</section>

<script type="text/javascript">
$(document).ready(function() {

  /** Existing / new product */
  $('.new-product-section').hide();
  if ($('#productChoiceExisting').is(':checked')) {
    $('.existing-product-section').show();
    $('.new-product-section').hide();
  } else if ($('#productChoiceNew').is(':checked')) {
    $('.existing-product-section').hide();
    $('.new-product-section').show();
  }
  $('input[type=radio][name=product_type]').on('change', function() {
    switch($(this).val()) {
      case 'new':
        $('.existing-product-section').hide();
        $('.new-product-section').show();
        break;
      case 'old':
        $('.existing-product-section').show();
        $('.new-product-section').hide();
        break;
    }
  });

  /** Existing / new supplier */
  $('.new-supplier-section').hide();
  if ($('#supplierChoiceExisting').is(':checked')) {
    $('.existing-supplier-section').show();
    $('.new-supplier-section').hide();
  } else if ($('#supplierChoiceNew').is(':checked')) {
    $('.existing-supplier-section').hide();
    $('.new-supplier-section').show();
  }
  $('input[type=radio][name=supplier_type]').on('change', function() {
    switch($(this).val()) {
      case 'new':
        $('.existing-supplier-section').hide();
        $('.new-supplier-section').show();
        break;
      case 'old':
        $('.existing-supplier-section').show();
        $('.new-supplier-section').hide();
        break;
    }
  });
});
</script>