<table border="0" cellspacing="0" cellpadding="0" id="index_table_products" class="index_table index" paginator="true">
  <thead>
    <tr>
      <th class="col col-id">Image</th>
      <th class="col col-id">Product Name</th>
      <th class="col col-id">Competition Score</th>
      <th class="col col-id">Order State</th>
      <th class="col col-id">Actions</th>
    </tr>
  </thead>
  <tbody>
    <%
      products.find_each.with_index do |product, index|
    %>
        <tr class="<%= index.even? ? 'even' : 'odd' %>">
          <td class="col col-selectable">
            <img class="col_image" src="<%= product.image_url %>"/>
          </td>
          <td class="col col-selectable">
            <%= product.name %>
          </td>
          <td>
            N/A
          </td>
          <td>
            <%= product.state.humanize %>
          </td>
          <td>
            <div class="table_actions">
              <a class="view_link member_link" title="View" href="<%= admin_suppliers_products_orders_management_path(product_id: product.id) %>">Manage</a>
            </div>
          </td>
        </tr>
    <%
      end
    %>
  </tbody>
</table>