// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;
/*
 *= require jquery-ui
 */

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }

.col_image {
  width: 10rem;
}

.col_image-5 {
  width: 5rem;
}

.col_image_small {
  width: 5rem;
}

.content-section {
  padding: 1.2rem;
  border: 1px solid black;
  margin-bottom: 1.2rem;
}

.action-button {
  padding: 0;
}

.action-button > a {
  display: inline-block;
  padding-left: 1.2rem;
  padding-right: 1.2rem;
  padding-top: .6rem;
  padding-bottom: .6rem;
  color: #FFFFFF;
  text-decoration: none;
  font-weight: normal;
}

.section-title {
  padding-top: .6rem;
  padding-bottom: .6rem;
}

.section-title > h1, h2, h3 {
  display: inline-block;
  margin: 0;
}

.section-actions {
  float: right;
}

.status_tag {
  background: #cacaca;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15em;
  padding: 3px 5px 2px 5px;
  font-size: 0.8em;
  text-align: left;
  display: inline-block;
}

.status_tag.fast {
  background: #44FF99;
}

.status_tag.super_fast,
.status_tag.not_competitive {
  background: #11FF33;
}

.status_tag.very_competitive {
  background: #e11313;
}

.status_tag.super_competitive {
  background: #b70404;
}

.status_tag.waiting_for_shipment {
  background: #39c800;
}

.status_tag.dropshipping {
  background: #d0e255;
}

.status_tag.enquired {
  background: #0480ae;
}

.status_tag.negotiating {
  background: #007b52;
}

.status_tag.waiting_for_tracking_number {
  background: #b70404;
}

.status_tag.ordering {
  background: #e11313;
}

.shopify-product-single-section {
  padding-top: 1rem;
  padding-bottom: 1rem;
}