<section>
  <table class="index_table index">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <img class="col_image" src="<%= product.image_url %>" />
        </td>
        <td>
          <%= product.name %>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <form action="<%= admin_supplier_products_path %>" method="POST">
    <input type="hidden" name="supplier_product[product_id]" value="<%= product.id %>"/>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>" />
    <fieldset class="inputs">
      <ol>
        <li class="select input required" id="supplier_product_product_input">
          <label for="supplier_product_supplier_id" class="label">Supplier<abbr title="required">*</abbr></label>
          <select name="supplier_product[supplier_id]" id="supplier_product_supplier_id">
            <option value=""></option>
          <% 
            suppliers.each do |supplier|
          %>
            <option value="<%= supplier.id %>"><%= supplier.name %></option>
          <%
            end
          %>
          </select>
        </li>
        <li class="string input optional stringish" id="supplier_product_name_input">
          <label for="supplier_product_name" class="label">Name</label>
          <input id="supplier_product_name" type="text" name="supplier_product[name]" />
        </li>
        <li class="string input optional stringish" id="supplier_product_image_url_input">
          <label for="supplier_product_image_url" class="label">Image Url</label>
          <input id="supplier_product_image_url" type="text" name="supplier_product[image_url]" />
        </li>
        <li class="string input optional stringish" id="supplier_product_reference_url_input">
          <label for="supplier_product_reference_url" class="label">Reference Url</label>
          <input id="supplier_product_reference_url" type="text" name="supplier_product[reference_url]" />
        </li>
        <li class="string input optional stringish" id="supplier_product_description_input">
          <label for="supplier_product_description" class="label">Description</label>
          <input id="supplier_product_description" type="text" name="supplier_product[description]" />
        </li>
        <li class="string input optional stringish" id="supplier_product_quantity_in_stock_input">
          <label for="supplier_product_quantity_in_stock" class="label">Quantity in stock</label>
          <input id="supplier_product_quantity_in_stock" type="text" name="supplier_product[quantity_in_stock]" />
        </li>
      </ol>
    </fieldset>
    <fieldset class="actions">
      <ol>
        <li class="action input_action " id="supplier_product_submit_action">
          <input type="submit" name="commit" value="Create Supplier Product" data-disable-with="Create Supplier product"/>
        </li>
        <li class="cancel">
          <a href="/admin/supplier_products">Cancel</a>
        </li>
      </ol>
    </fieldset>
  </form>
</section>