<section>
  <table class="index_table index">
    <thead>
      <tr>
        <th>Image</th>
        <th>Product</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>
          <%= supplier_product.image_url %>
        </td>
        <td>
          <%= supplier_product.name %>
        </td>
      </tr>
    </tbody>
  </table>
</section>
<section>
  <form novalidate="novalidate" class="formtastic supplier_product_quote" id="new_supplier_product_quote" action="/admin/supplier_product_quotes" accept-charset="UTF-8" method="post">
    <input name="utf8" type="hidden" value="✓"/>
    <input type="hidden" name="supplier_product_quote[supplier_product_id]" value="<%= supplier_product.id %>"/>
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <fieldset class="inputs">
      <ol>
        <li class="select input required" id="supplier_product_quote_supplier_contact_input">
          <label for="supplier_product_quote_supplier_contact_id" class="label">Factory contact<abbr title="required">*</abbr></label>
          <select name="supplier_product_quote[supplier_contact_id]" id="supplier_product_quote_supplier_contact_id">
            <option value=""></option>
          <%
            supplier_contacts.each do |contact|
          %>
            <option selected value="<%= contact.id %>"><%= "#{contact.name} - #{contact.contact_type} - #{contact.reference_number}" %></option>
          <%
            end
          %>
          </select>
        </li>
        <li class="select input required" id="supplier_product_quote_product_shipping_provider_id_input">
          <label for="supplier_product_quote_shipping_provider_id_id" class="label">Shipping Method<abbr title="required">*</abbr></label>
          <select name="supplier_product_quote[shipping_provider_id]" id="supplier_product_quote_supplier_product_shipment_id">
            <option value=""></option>
          <%
            ShippingProvider.all.each do |provider|
          %>
            <option value="<%= provider.id %>"><%= "#{provider.name}" %></option>
          <%
            end
          %>
          </select>
        </li>
        <li class="number input optional numeric stringish" id="supplier_product_quote_quantity_input">
          <label for="supplier_product_quote_quantity" class="label">Quantity</label>
          <input id="supplier_product_quote_quantity" step="any" type="number" name="supplier_product_quote[quantity]"/>
        </li>
        <li class="select input optional" id="supplier_product_quote_state_input">
          <label for="supplier_product_quote_state" class="label">State</label>
          <select name="supplier_product_quote[state]" id="supplier_product_quote_state">
            <option value=""></option>
          <%
            quote_states.each do |state|
          %>
            <option value="<%= state %>"><%= state.human_name %></option>
          <%
            end
          %>
          </select>
        </li>
        <li class="number input optional numeric stringish" id="supplier_product_quote_unit_price_cents_input">
          <label for="supplier_product_quote_unit_price_cents" class="label">Unit price cents</label>
          <input id="supplier_product_quote_unit_price_cents" step="any" type="number" name="supplier_product_quote[unit_price_cents]" value="0" />
        </li>
        <li class="number input optional numeric stringish" id="supplier_product_quote_total_shipping_cents_input">
          <label for="supplier_product_quote_total_shipping_cents" class="label">Total shipping cents</label>
          <input id="supplier_product_quote_total_shipping_cents" step="any" type="number" name="supplier_product_quote[total_shipping_cents]" value="0" />
        </li>
        <li class="string input optional stringish" id="supplier_product_quote_currency_input">

          <label for="supplier_product_quote_currency_id" class="label">Currency</label>
          <select name="supplier_product_quote[currency_id]" id="supplier_product_quote_currency_id">
            <option value=""></option>
          <%
            currencies.each do |currency|
          %>
            <option value="<%= currency.id %>"><%= currency.name %></option>
          <%
            end
          %>
          </select>
        </li>
      </ol>
    </fieldset>
    <fieldset class="actions">
      <ol>
        <li class="action input_action " id="supplier_product_quote_submit_action">
          <input type="submit" name="commit" value="Create Vendor product quote" data-disable-with="Create Supplier product quote"/>
        </li>
        <li class="cancel"><a href="/admin/supplier_product_quotes">Cancel</a>
        </li>
      </ol>
    </fieldset>
</form>
</section>